.navLink:hover, .loginButton:hover {
  text-decoration: none;
}
.App {
  text-align: center;
}
.navBar {
  background-color: #000000;
  padding: 1rem;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 40px; 
  margin-right: 16px;
}
.navLinks {
  display: flex;
  align-items: center;

}
.navLink {
  color: #FC4100; 
  text-decoration: none; 
  margin: 0 8px;
  font-weight: bold;
}

.loginButton {
  color: #FFFFFF;
  background-color: #FC4100; 
  text-decoration: none;
  padding: 0.5rem 1rem; 
  border-radius: 4px;
  margin: 0 8px; 
  font-weight: bold; 
}
.navLink:hover, .loginButton:hover {
  text-decoration: none; /* Underline on hover */
}
