.workouts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 50px;
  background-image: url('https://img.freepik.com/premium-photo/dark-gym-with-red-lights-black-background_876956-1224.jpg?w=826');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fix the background image */
  min-height: 100vh; /* Ensure the container is at least the height of the viewport */
}

.card {
  position: relative;
  padding: 3rem;
  background: black; /* Transparent background */
  overflow: hidden;
  border-radius: 1rem;
  color: hsl(54.9, 96.7%, 88%);
  cursor: pointer;
}

.card::before {
  content: "";
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: rotating 2s infinite cubic-bezier(0.45, 0, 0.55, 1);
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0deg);
  background: conic-gradient(rgba(255,255,255,.6), transparent, transparent, rgba(255,255,255,.3), transparent, transparent, rgba(255,255,255,.6));
}

.card::after {
  content: "";
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  left: 4px;
  top: 4px;
  background: inherit;
  border-radius: .8rem;
  z-index: 1;
  pointer-events: none;
}

.card-content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.card-content h1 {
  font-size: 1.5rem;
  color: hsl(54.9, 96.7%, 88%); /* Ensure color is applied here */
}

@keyframes rotating {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

button {
  background: red;
  border: 2px solid #ef4444;
  border-radius: 4px;
  padding: 8px 16px;
  color: black;
  background-image: linear-gradient(to right, #f97316, #dc2626);
  margin: 1rem 0 0 0;
  text-shadow: 1px 1px 3px #fcd34d;
  cursor: pointer;
}
